/* Font */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root { 
    --bluish: rgb(93, 93, 163);
}

* { 
    background-color: lavender;
}

section > h2 { 
    color: hsl(147, 55%, 61%);
}



input, label {
    border: none;
}

h2 + ul { 
    color: grey;
}

[class="main"] { 
    color: var(--bluish, blue);
}

h2:has(+p) { 
    color: orange;
}


body { 
    margin: unset;
    height: 100vh;
    width: 100vw;
    border-width: 1pt;
    margin-left:0;
    margin-right:0;
    margin-bottom:1%;
    margin-top:1%;
    font-family: "Ubuntu", sans-serif;

}

.container { 
    grid-template-columns: 1fr;
    grid-template-rows: .4fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr .2fr;
    grid-template-areas: 
        "nav"
        "attendance"
        "agenda"
        "action-items"
        "main"
        "summary"
        "av"
        "form"
        "footer";
}

#attendance { 
    grid-area: attendance;
}
#agenda { 
    grid-area: agenda;
}
#action-items { 
    grid-area: action-items;
}
#main { 
    grid-area: main;
}
#summary { 
    grid-area: summary;
}
#av { 
    grid-area: av;
}
#feedback { 
    grid-area: feedback;
    border-color: white;
}
footer { 
    grid-area: footer;
}

/* Navigation bar */
.nav { 
    color: #000;
    position: relative;
    grid-area: nav;

    & .nav-toggle { 
        position: absolute; 
        cursor: pointer; 
        margin: 0rem 1rem; 
        right: 0;

        svg { 
            width: 1.5rem;
        }

        .close { 
            display: none;
        }

        .menu { 
            margin-top: 0.2rem; 
        }
    }

    & .nav-checkbox { 
        display: none;
    }


    & ul { 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
        align-items: center; 
        margin: 1rem; 

        li { 
            list-style: none;
            display: none;

        }

        li:first-child { 
            margin-right: auto;
            display: block;
        }
    }

    & a { 
        color: inherit;
        text-decoration: none;
        font-size: 1rem;
        padding: 1rem;
    }
    & a:hover{ 
        color: rgb(85, 85, 184); 
    }
    
    svg { 
        width: 1.5rem;
    }

}

#nav-checkbox:checked ~ ul li { 
    display: block;
    border-style: none;
}

#nav-checkbox:checked ~ label.nav-toggle .close { 
    display: block;
}

#nav-checkbox:checked ~ label.nav-toggle .menu { 
    display: none;
}

.submit-button { 
    width: 10em;
    height: 3em; 
    background-color: greenyellow;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.submit-button:active { 
    box-shadow: 2px 2px 5px green;
}


/* Responsive design */
/* Desktop */ 
@media screen and (min-width: 560px) and (max-width:3000px) { 
    .nav {
        grid-area: nav;
        & .nav-toggle { 
            display: none;
        }
        & ul { 
            flex-direction: row;

            li { 
                display: block;
            }
        }
    }

    .container { 
        display: grid; 
        height: 100vh; 
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: .8fr 1fr 1fr 1fr 1fr .2fr;  
        grid-template-areas: 
            "nav nav nav"
            "attendance agenda action-items"
            "main main main"
            "summary summary av"
            "feedback feedback feedback"
            "footer footer footer";
        grid-gap: 0.2rem;
    }
    
}